{% extends "index.html" %}
{% block content %}
<main>
	<div class="checkout-content">
		<div class="" style="width: 100%">
		{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="text-center alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        </div>
		<div class="checkout-panel">
			<div class="checkout-panel-content">
				<h5>Order Items</h5>
				<div class="checout-order-items">
					<ul>
						{% for item in order.order_items %}
					  		<li>
					  			<div class="checkout-list-items">
					  				<h5> {{ item.defined_item.amount }} X {{ item.defined_item.item.name }}</h5>
					  				<img src="{{ url_for('main.static', filename='img/'+ item.defined_item.item.name + '/' + item.defined_item.item.image_file) }}" class="checkout-item-img">
					  				<h7> Size: {{ item.defined_item.size }}</h7>
					  				<h7> Price: {{ item.defined_item.item.price }}</h7>
					  				<h7>{{ item.defined_item.item.description }}</h7>
					  			</div>
					  		</li>
					  		<hr>
					  	{% endfor %}
					</ul>
					<div class="checkout-total">
						<h6> Amount of items: {{ order.order_items |length }}</h6>
						<h6> Total price: {{ order.price }}</h6>
					</div>
					<div class="form-group obt">
						<a href="{{ url_for('main.order_payment',order_id=order.id) }}">
	            			<button type="button" class="payment-btn btn btn-lg btn-primary btn-block text-uppercase">
	            				Proceed To Payment
	            			</button>
            			</a>
        			 </div>
				</div>
			</div>	
		</div>
	</div>
</main>
{% endblock content %}