<!DOCTYPE html>
<html lang="en" class="full-height">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
	  <link rel="stylesheet" type="text/css" href="{{ url_for('main.static', filename='css/main.css') }}">

    <title>{{ title }}</title>
  </head>
    <body class="hm-gradient">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark mb-4">
             <!-- <a class="navbar-brand" href="#">Navbar</a>-->
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search 
                              </a>
                          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            {% for type in types %}
                              <a class="dropdown-item" href="{{ url_for('main.item_type',type_id=type.id) }}">{{type.name}}</a>
                            {% endfor %}
                          </div>
                      </li>
                  </ul>
              </div>
                  <div class="cart">    
                    <a href="{{ url_for('main.cart') }}" class="nav-link mr-auto"><i class="fa fa-shopping-cart fa-lg" style="color: white"></i>
                      {% if current_user.is_authenticated %}
                        {% if current_user.cart.cart_items|length > 0 %}
                        <span class="cart-span dot text-center"><h7 class="item-number">{{ current_user.cart.cart_items|length }}</h7></span>
                        {% endif %}
                      {% endif %}
                    </a>
                  </div>
                    <!-- Searchbar  -->
                    <div>
                    <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon-search fa fa-search fa-lg" aria-hidden="true" style="color:white"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                      <form class="form-inline" method="GET" action="/search">
                        <input style="color: black;" class="searchbar" name="search" type="text" placeholder="Search" aria-label="Search">
                      </form>
                    </div>
                    </div>
                  <ul class="navbar-nav mr-auto">
                    <!-- Profile dropdown -->
                    <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i> 
                              </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink">
                              {% if not current_user.is_authenticated %}
                              <a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
                              <a class="dropdown-item" href="{{ url_for('auth.login') }}">Log In</a>
                              {% endif %}
                              {% if current_user.is_authenticated %}
                              <a class="dropdown-item" href="{{ url_for('profile.profile_page') }}">Profile</a>
                              <a class="dropdown-item" href="{{ url_for('main.orders') }}">Orders</a>
                              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
                              {% endif %}
                          </div>
                      </li>
                  </ul>
        </nav>
    {% block content %}{% endblock %}
    <!-- Optional JavaScript -->
    <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>